<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>

    <header class="header">        
        <h1> EJS Cats </h1>
    </header>
    <section class="cats">   
        <% for (var x in gatos) { %>
     
            <a href="/gatos/<%=x %>">        <img class="gato"  src="<%= gatos[x].imagen %>"      alt="gato" >  </a>
            <hr>
        <% } %>
    


      <!--   <img class="gato" src="/img/gato1.jpg"      alt="gato" >
        <img class="gato" src="/img/gato2.jpg"      alt="gato" >-->
    </section>
  
    
</body>
</html>