.header{
    background-color: purple;
    height: 100px;
    color: white;
    text-align: center;
}

.cats{
    display: flex;
    flex-direction: column;
    margin-left: 550px;
    border-radius: 50%;
   
}

.gato{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.food{
    background-color: rgb(226, 161, 226);

}
.age{
    background-color: rgb(161, 109, 161);

}